/* General Styles */
html, body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  color: #333;
  height: 100%; /* Ensure html and body take full height */
  overflow: hidden; /* Hide overflow on body */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Ensure items are aligned to the start */
  align-items: center;
  min-height: 100vh; /* Ensure body takes at least full height */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Add some margin to the top */
  overflow: auto; /* Ensure the app can scroll */
  flex-grow: 1; /* Allow App to grow and take available space */
}

h1 {
  color: #5b2d89;
}

/* Header */
header {
  background-color: #5b2d89;
  color: white;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10; /* Ensure header is on top */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow to differentiate */
}

header h1 {
  margin: 0;
  color: #ffffff; /* Header text color */
}

.logout-button {
  margin-left: auto;
  position: right;
  width: 60px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #170529;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #3a1b59;
}

/* Login and Registration */
.login, .registration {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}

.login input, .registration input, .create-post textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: #5b2d89;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #4a2371;
}

/* Posts */
.posts {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.post {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.post:last-child {
  border-bottom: none;
}

.post strong {
  color: #5b2d89;
}

/* Create Post */
.create-post {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.create-post textarea {
  width: 90%;
  height: 100px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Text Colors */
.login h1, .registration h1, .welcome h1 {
  color: #5b2d89; /* Text color for login/registration/welcome */
}
